Snohomish County Assessor Roll Project

In [43]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
#Sheet names in the excel file
x1 = pd.ExcelFile('assr_roll.xlsx')
x1.sheet_names

['Sheet1', 'MainData', 'NameAddr', 'SegMerge', 'LegalDescr', 'Exemptions']

In [6]:
#MainData
df = x1.parse('MainData')
df.head()

,ID,PropId,parcel_number,alt_parcel_nr,tax_year,TCAnumber,UseCode,UnitMeas,SIZE,SitusLine1,...,SitusCity,SitusState,SitusZip,TVR,MKIMP,MKLND,CUIMP,CULND,MKTTL,LocParcel
0,1,313028,858800002700,85880000270002,2017,530,111 Single Family Residence - Detached,ACRE,0.22,15464 171ST DR SE,...,MONROE,WA,98272-1633,316600,181600.0,135000.0,NaN,NaN,316600,NaN
1,2,312812,855500001100,85550000110009,2017,530,111 Single Family Residence - Detached,ACRE,0.11,15942 CASCADE LN SE,...,MONROE,WA,98272-2671,292700,169700.0,123000.0,NaN,NaN,292700,NaN
2,3,312815,855500001400,85550000140006,2017,530,111 Single Family Residence - Detached,ACRE,0.10,16955 ALLISON ST SE,...,MONROE,WA,98272-2670,252500,129500.0,123000.0,NaN,NaN,252500,NaN
3,4,312829,855500002800,85550000280000,2017,530,111 Single Family Residence - Detached,ACRE,0.11,16867 ODOM LN SE,...,MONROE,WA,98272-2676,260300,132300.0,128000.0,NaN,NaN,260300,NaN
4,5,312830,855500002900,85550000290009,2017,530,111 Single Family Residence - Detached,ACRE,0.13,16853 ODOM LN SE,...,MONROE,WA,98272-2676,275600,140600.0,135000.0,NaN,NaN,275600,NaN

Tidy up the Data
1.Identify valuable variables/Rename
2.Pull out Street Name from Address

In [36]:
#1
#PropId,parcel_number,alt_parcel_nr,UseCode,UnitMeas,SIZE,SitusLine1,SitusLine2,SitusLine3,SitusCity,SitusState,
#SitusZip,MKIMP,MKLND,MKTTL

new_df = pd.DataFrame(data=df,columns=('PropId','parcel_number','alt_parcel_nr','UseCode','UnitMeas','SIZE','SitusLine1','SitusLine2','SitusLine3','SitusCity','SitusState','SitusZip','MKIMP','MKLND','MKTTL'))
new_df.head()

,PropId,parcel_number,alt_parcel_nr,UseCode,UnitMeas,SIZE,SitusLine1,SitusLine2,SitusLine3,SitusCity,SitusState,SitusZip,MKIMP,MKLND,MKTTL
0,313028,858800002700,85880000270002,111 Single Family Residence - Detached,ACRE,0.22,15464 171ST DR SE,NaN,NaN,MONROE,WA,98272-1633,181600.0,135000.0,316600
1,312812,855500001100,85550000110009,111 Single Family Residence - Detached,ACRE,0.11,15942 CASCADE LN SE,NaN,NaN,MONROE,WA,98272-2671,169700.0,123000.0,292700
2,312815,855500001400,85550000140006,111 Single Family Residence - Detached,ACRE,0.10,16955 ALLISON ST SE,NaN,NaN,MONROE,WA,98272-2670,129500.0,123000.0,252500
3,312829,855500002800,85550000280000,111 Single Family Residence - Detached,ACRE,0.11,16867 ODOM LN SE,NaN,NaN,MONROE,WA,98272-2676,132300.0,128000.0,260300
4,312830,855500002900,85550000290009,111 Single Family Residence - Detached,ACRE,0.13,16853 ODOM LN SE,NaN,NaN,MONROE,WA,98272-2676,140600.0,135000.0,275600

In [42]:
#2
#Change data type to string
new_df.SitusLine1 = new_df.SitusLine1.astype(str)

#Finds the the space after the street number and copies everything to the right of that space
street = []
street_number = []
for add in new_df['SitusLine1']:
    atpos = add.find(' ')
    street.append(add[atpos+1:])
    street_number.append(add[:atpos])
    
#Create new columns for the street name and street number
new_df['Street_Name'] = street
new_df['Street_Number'] = street_number

new_df[['SitusLine1','Street_Name','Street_Number']]

                       SitusLine1          Street_Name Street_Number
0               15464 171ST DR SE          171ST DR SE         15464
1             15942 CASCADE LN SE        CASCADE LN SE         15942
2             16955 ALLISON ST SE        ALLISON ST SE         16955
3                16867 ODOM LN SE           ODOM LN SE         16867
4                16853 ODOM LN SE           ODOM LN SE         16853
5             16631 CASCADE LN SE        CASCADE LN SE         16631
6             16025 CASCADE LN SE        CASCADE LN SE         16025
7               14848 165TH ST SE          165TH ST SE         14848
8              14812 165TH AVE SE         165TH AVE SE         14812
9                14855 JAKE DR SE           JAKE DR SE         14855
10               14863 JAKE DR SE           JAKE DR SE         14863
11           16753 MARMOUNT ST SE       MARMOUNT ST SE         16753
12           16765 SE MARMOUNT ST       SE MARMOUNT ST         16765
13             15606 171ST AVE SE         171ST AVE SE         15606
14              17055 157TH ST SE          157TH ST SE         17055
15              15680 170TH DR SE          170TH DR SE         15680
16              16961 157TH ST SE          157TH ST SE         16961
17              16938 157TH ST SE          157TH ST SE         16938
18              16956 157TH ST SE          157TH ST SE         16956
19            MOUNTAIN VIEW RD SE           VIEW RD SE      MOUNTAIN
20      17222 MOUNTAIN VIEW RD SE  MOUNTAIN VIEW RD SE         17222
21               16006 10TH ST SE           10TH ST SE         16006
22             15374 173RD AVE SE         173RD AVE SE         15374
23              17266 153RD ST SE          153RD ST SE         17266
24            15184 AUSTIN AVE SE        AUSTIN AVE SE         15184
25            14935 AUSTIN AVE SE        AUSTIN AVE SE         14935
26             17275 SAWYER ST SE         SAWYER ST SE         17275
27            15085 AUSTIN AVE SE        AUSTIN AVE SE         15085
28              51001 195TH PL SE          195TH PL SE         51001
29      17240 MOUNTAIN VIEW RD SE  MOUNTAIN VIEW RD SE         17240
...                           ...                  ...           ...
294688           200 GARDEN COURT         GARDEN COURT           200
294689             205 SEVENTH ST           SEVENTH ST           205
294690              143 STATE AVE            STATE AVE           143
294691             512 RAINIER ST           RAINIER ST           512
294692              1322 AVENUE D             AVENUE D          1322
294693            UNKNOWN UNKNOWN              UNKNOWN       UNKNOWN
294694            UNKNOWN UNKNOWN              UNKNOWN       UNKNOWN
294695              1535 AVENUE D             AVENUE D          1535
294696          1823 BICKFORD AVE         BICKFORD AVE          1823
294697          1819 BICKFORD AVE         BICKFORD AVE          1819
294698               1411 20TH ST              20TH ST          1411
294699               1303 20TH ST              20TH ST          1303
294700              2120 LAKE AVE             LAKE AVE          2120
294701            UNKNOWN UNKNOWN              UNKNOWN       UNKNOWN
294702              4407 FOBES RD             FOBES RD          4407
294703           4630 83RD AVE SE          83RD AVE SE          4630
294704            UNKNOWN UNKNOWN              UNKNOWN       UNKNOWN
294705            8033 SKIPLEY RD           SKIPLEY RD          8033
294706              5128 FOBES RD             FOBES RD          5128
294707            UNKNOWN UNKNOWN              UNKNOWN       UNKNOWN
294708              4506 FOBES RD             FOBES RD          4506
294709                821 MILL ST              MILL ST           821
294710               931 MILL AVE             MILL AVE           931
294711             7224 SEXTON RD            SEXTON RD          7224
294712             7230 SEXTON RD            SEXTON RD          7230
294713            16125 MARKET ST            MARKET ST         16125
294714            16211 MARKET ST            MARKET ST         16211
294715            UNKNOWN UNKNOWN              UNKNOWN       UNKNOWN
294716         6831 RIVER PARK PL        RIVER PARK PL          6831
294717            UNKNOWN UNKNOWN              UNKNOWN       UNKNOWN

[294718 rows x 3 columns]

In [51]:
#Look through cities
#High number of unknown cities
new_df['SitusCity'].value_counts()[:15]

EVERETT              47936
UNKNOWN              30633
MARYSVILLE           26976
LYNNWOOD             26966
BOTHELL              25211
SNOHOMISH            23222
EDMONDS              20805
ARLINGTON            16674
LAKE STEVENS         15791
STANWOOD              9435
MONROE                9367
MUKILTEO              7486
MOUNTLAKE TERRACE     6772
MILL CREEK            6088
GRANITE FALLS         4190
Name: SitusCity, dtype: int64

In [55]:
#Investigated the UNKNOWN City Values, Each row still contains plenty of data
new_df.loc[df['SitusCity'] == 'UNKNOWN']

,PropId,parcel_number,alt_parcel_nr,UseCode,UnitMeas,SIZE,SitusLine1,SitusLine2,SitusLine3,SitusCity,SitusState,SitusZip,MKIMP,MKLND,MKTTL,Street_Name,Street_Number
42,306186,29062900100600,29290610060000,910 Undeveloped (Vacant) Land,ACRE,2.00,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,4000.0,4000,UNKNOWN,UNKNOWN
83,312474,831900099900,83190009990002,916 Water Retention Area,ACRE,0.86,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,0.0,0,UNKNOWN,UNKNOWN
177,329853,577600101100,57760010110006,910 Undeveloped (Vacant) Land,ACRE,0.17,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,3000.0,3000,UNKNOWN,UNKNOWN
187,329932,577700501400,57770050140003,910 Undeveloped (Vacant) Land,ACRE,0.15,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,17800.0,17800,UNKNOWN,UNKNOWN
203,329840,577200002803,57720000280300,910 Undeveloped (Vacant) Land,ACRE,0.15,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,500.0,500,UNKNOWN,UNKNOWN
204,329847,577600100500,57760010050004,910 Undeveloped (Vacant) Land,ACRE,0.25,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,2000.0,2000,UNKNOWN,UNKNOWN
205,329854,577600101200,57760010120005,910 Undeveloped (Vacant) Land,ACRE,0.24,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,11000.0,11000,UNKNOWN,UNKNOWN
224,329850,577600100800,57760010080001,910 Undeveloped (Vacant) Land,ACRE,2.82,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,4000.0,4000,UNKNOWN,UNKNOWN
227,329848,577600100600,57760010060003,910 Undeveloped (Vacant) Land,ACRE,0.25,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,2000.0,2000,UNKNOWN,UNKNOWN
269,330023,578000000100,57800000010004,910 Undeveloped (Vacant) Land,ACRE,0.38,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,1000.0,1000,UNKNOWN,UNKNOWN
270,330025,578000000300,57800000030002,910 Undeveloped (Vacant) Land,ACRE,0.42,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,1000.0,1000,UNKNOWN,UNKNOWN
271,330030,578000000800,57800000080007,910 Undeveloped (Vacant) Land,ACRE,0.38,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,1000.0,1000,UNKNOWN,UNKNOWN
282,329890,577600301800,57760030180005,910 Undeveloped (Vacant) Land,ACRE,0.19,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,19400.0,19400,UNKNOWN,UNKNOWN
293,329982,577700602000,57770060200003,183 Non Residential Structure,ACRE,0.22,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,8500.0,30200.0,38700,UNKNOWN,UNKNOWN
313,329845,577600100400,57760010040005,910 Undeveloped (Vacant) Land,ACRE,0.22,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,2000.0,2000,UNKNOWN,UNKNOWN
375,312752,847600099700,84760009970003,761 Parks - General Recreation,ACRE,4.12,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,783000.0,783000,UNKNOWN,UNKNOWN
394,312635,843400099800,84340009980003,915 Common Areas,ACRE,0.00,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,0.0,0,UNKNOWN,UNKNOWN
421,312597,838700099900,83870009990009,915 Common Areas,ACRE,0.00,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,0.0,0,UNKNOWN,UNKNOWN
431,312761,852300000700,85230000070004,111 Single Family Residence - Detached,ACRE,0.14,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,105300.0,124200.0,229500,UNKNOWN,UNKNOWN
449,306191,29062900101100,29290610110003,940 Open Space General RCW 84.34,ACRE,10.61,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,150000.0,150000,UNKNOWN,UNKNOWN
470,306232,29062900300500,29290630050007,"745-Trails (Centennial, etal)",ACRE,3.47,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,6900.0,6900,UNKNOWN,UNKNOWN
519,312859,855500099900,85550009990005,915 Common Areas,ACRE,5.47,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,0.0,0,UNKNOWN,UNKNOWN
547,306187,29062900100700,29290610070009,940 Open Space General RCW 84.34,ACRE,6.95,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,142200.0,142200,UNKNOWN,UNKNOWN
549,306202,29062900102100,29290610210001,910 Undeveloped (Vacant) Land,ACRE,1.11,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,145600.0,145600,UNKNOWN,UNKNOWN
556,312910,856100099900,85610009990007,915 Common Areas,ACRE,0.65,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,0.0,0,UNKNOWN,UNKNOWN
567,329918,577600800000,57760080000004,910 Undeveloped (Vacant) Land,ACRE,0.00,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,0.0,0,UNKNOWN,UNKNOWN
585,306201,29062900102000,29290610200002,111 Single Family Residence - Detached,ACRE,0.96,UNKNOWN,NaN,NaN,UNKNOWN,WA,NaN,0.0,55400.0,55400,UNKNOWN,UNKNOW
596,306418,29073000300100,30290730010007,830 Open Space Agriculture RCW 84.34,ACRE,4.00,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,65000.0,65000,UNKNOWN,UNKNOWN
601,306233,29062900300600,29290630060006,183 Non Residential Structure,ACRE,4.88,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,85500.0,85500,UNKNOWN,UNKNOWN
603,306251,29062900401900,29290640190009,"745-Trails (Centennial, etal)",ACRE,2.91,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,5800.0,5800,UNKNOWN,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294456,347927,423500000700,42350000070002,910 Undeveloped (Vacant) Land,ACRE,0.22,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,8000.0,8000,UNKNOWN,UNKNOWN
294457,347928,424000000100,42400000010001,910 Undeveloped (Vacant) Land,ACRE,0.59,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,59800.0,59800,UNKNOWN,UNKNOWN
294481,348128,432801200100,43280120010001,910 Undeveloped (Vacant) Land,ACRE,14.81,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,29600.0,29600,UNKNOWN,UNKNOWN
294492,348227,433200000302,43320000030206,910 Undeveloped (Vacant) Land,ACRE,0.06,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,100.0,100,UNKNOWN,UNKNOWN
294511,348377,440100000104,44010000010402,910 Undeveloped (Vacant) Land,ACRE,0.37,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,39800.0,39800,UNKNOWN,UNKNOWN
294516,348410,440100001100,44010000110004,421 Bus Transportation,ACRE,1.39,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,27200.0,27200,UNKNOWN,UNKNOWN
294517,348413,440100001501,44010000150109,691 Religious Activities (Churches Synagogues ...,ACRE,1.66,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,50600.0,239300.0,289900,UNKNOWN,UNKNOWN
294518,348427,440100001908,44010000190808,910 Undeveloped (Vacant) Land,ACRE,0.30,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,7500.0,7500,UNKNOWN,UNKNOWN
294519,348428,440100001909,44010000190907,910 Undeveloped (Vacant) Land,ACRE,0.61,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,41500.0,41500,UNKNOWN,UNKNOWN
294523,348463,442600001006,44260000100600,"745-Trails (Centennial, etal)",ACRE,0.77,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,0.0,0,UNKNOWN,UNKNOWN
294532,348545,444000800100,44400080010002,461 Automobile Parking (Lot),ACRE,1.14,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,640800.0,640800,UNKNOWN,UNKNOWN
294543,348646,444100901600,44410090160002,910 Undeveloped (Vacant) Land,ACRE,0.00,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,100.0,100,UNKNOWN,UNKNOWN
294596,349095,475800200700,47580020070005,910 Undeveloped (Vacant) Land,ACRE,0.35,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,3500.0,3500,UNKNOWN,UNKNOWN
294597,349096,475800201200,47580020120008,910 Undeveloped (Vacant) Land,ACRE,0.11,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,1100.0,1100,UNKNOWN,UNKNOWN
294601,349145,475900000700,47590000070008,910 Undeveloped (Vacant) Land,ACRE,2.03,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,8100.0,8100,UNKNOWN,UNKNOWN
294603,349163,475900002501,47590000250105,910 Undeveloped (Vacant) Land,ACRE,1.17,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,110500.0,110500,UNKNOWN,UNKNOWN
294606,349181,477000101200,47700010120004,910 Undeveloped (Vacant) Land,ACRE,2.39,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,9600.0,9600,UNKNOWN,UNKNOWN
294607,349195,477000401000,47700040100000,830 Open Space Agriculture RCW 84.34,ACRE,5.19,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,20800.0,20800,UNKNOWN,UNKNOWN
294608,349196,477000401200,47700040120008,941 Open Space General - Ag Cons RCW 84.34,ACRE,4.64,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,17300.0,17300,UNKNOWN,UNKNOWN
294609,349213,477001500500,47700150050003,830 Open Space Agriculture RCW 84.34,ACRE,4.90,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,19600.0,19600,UNKNOWN,UNKNOWN
294610,349214,477001501300,47700150130003,910 Undeveloped (Vacant) Land,ACRE,2.50,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,5000.0,5000,UNKNOWN,UNKNOWN
294619,349282,485500100101,48550010010104,910 Undeveloped (Vacant) Land,ACRE,0.13,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,2000.0,2000,UNKNOWN,UNKNOWN
294625,349364,487700000710,48770000071003,651 Medical & Other Health Services,ACRE,0.06,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,33000.0,33000,UNKNOWN,UNKNOWN
294693,349917,538900200100,53890020010005,492 Transportation Services & Arrangements,ACRE,0.79,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,275300.0,275300,UNKNOWN,UNKNOWN
294694,349931,538900602100,53890060210002,675 Military Bases & Reservations,ACRE,0.76,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,346500.0,346500,UNKNOWN,UNKNOWN
294701,349982,538902601700,53890260170006,910 Undeveloped (Vacant) Land,ACRE,0.35,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,123800.0,123800,UNKNOWN,UNKNOWN
294704,350017,541700000308,54170000030805,910 Undeveloped (Vacant) Land,ACRE,0.29,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,14000.0,14000,UNKNOWN,UNKNOWN
294707,350049,541700001201,54170000120101,910 Undeveloped (Vacant) Land,ACRE,29.44,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,117800.0,117800,UNKNOWN,UNKNOWN
294715,350114,557500003103,55750000310304,910 Undeveloped (Vacant) Land,ACRE,3.60,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,7200.0,7200,UNKNOWN,UNKNOWN
294717,350131,558200000100,55820000010004,910 Undeveloped (Vacant) Land,ACRE,0.28,UNKNOWN UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,0.0,1100.0,1100,UNKNOWN,UNKNOWN

In [56]:
#Write to json file
new_df.to_json('properties.json')

In [109]:
#Now onto the NameAddr sheet
x1.sheet_names

['Sheet1', 'MainData', 'NameAddr', 'SegMerge', 'LegalDescr', 'Exemptions']

In [110]:
df1 = x1.parse('NameAddr')
df1.head()

,ID,PropId,parcel_number,Role,PartyName,line_1,line_2,line_3,city,State,zip_postal_code
0,1,313028,858800002700,OWNER,AXELSON JASON G & TAWNYA I,15464 171ST DR SE,NaN,NaN,MONROE,WA,98272-1633
1,2,313028,858800002700,TAXPR,AXELSON JASON G & TAWNYA I,15464 171ST DR SE,NaN,NaN,MONROE,WA,98272-1633
2,3,312812,855500001100,OWNER,GENTRY TRAVIS P & AMANDA L J,15942 CASCADE LN SE,NaN,NaN,MONROE,WA,98272-2671
3,4,312812,855500001100,TAXPR,GENTRY TRAVIS & AMANDA L J,15942 CASCADE LN SE,NaN,NaN,MONROE,WA,98272-2671
4,5,312815,855500001400,OWNER,YUSUF SHAHBAZ & ANGELA,17704 ROBINHOOD LN,NaN,NaN,SNOHOMISH,WA,98290

In [113]:
#From Party Name: Last Name, First name(s)

#Change data type to string
df1.PartyName = df1.PartyName.astype(str)

#Stripts all the '/' from the Names
new_Names = []
for names in df1['PartyName']:
    new_name = str(names).replace('/',' ')
    new_Names.append(new_name)

df1['New_Names'] = new_Names

#Change data type to string
df1.New_Names = df1.New_Names.astype(str)

test_Names = df1['New_Names'].str[0:-1].str.split(' ').apply(pd.Series).astype(str)

test_Names.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,AXELSON,JASON,G,&,TAWNYA,,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,AXELSON,JASON,G,&,TAWNYA,,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,GENTRY,TRAVIS,P,&,AMANDA,L,,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,GENTRY,TRAVIS,&,AMANDA,L,,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,YUSUF,SHAHBAZ,&,ANGEL,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [121]:
test_Names.columns = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17']
test_Names.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,AXELSON,JASON,G,&,TAWNYA,,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,AXELSON,JASON,G,&,TAWNYA,,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,GENTRY,TRAVIS,P,&,AMANDA,L,,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,GENTRY,TRAVIS,&,AMANDA,L,,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,YUSUF,SHAHBAZ,&,ANGEL,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [127]:
#Add new columns into the data frame
df1['Last_Name'] = test_Names['1']
df1['First_Name_1'] = test_Names['2']
df1['First_Name_2'] = test_Names['3']
df1['First_Name_3'] = test_Names['4']
df1['First_Name_4'] = test_Names['5']

In [128]:
df1.head()

,ID,PropId,parcel_number,Role,PartyName,line_1,line_2,line_3,city,State,zip_postal_code,New_Names,Last_Name,First_Name_1,First_Name_2,First_Name_3,First_Name_4
0,1,313028,858800002700,OWNER,AXELSON JASON G & TAWNYA I,15464 171ST DR SE,NaN,NaN,MONROE,WA,98272-1633,AXELSON JASON G & TAWNYA I,AXELSON,JASON,G,&,TAWNYA
1,2,313028,858800002700,TAXPR,AXELSON JASON G & TAWNYA I,15464 171ST DR SE,NaN,NaN,MONROE,WA,98272-1633,AXELSON JASON G & TAWNYA I,AXELSON,JASON,G,&,TAWNYA
2,3,312812,855500001100,OWNER,GENTRY TRAVIS P & AMANDA L J,15942 CASCADE LN SE,NaN,NaN,MONROE,WA,98272-2671,GENTRY TRAVIS P & AMANDA L J,GENTRY,TRAVIS,P,&,AMANDA
3,4,312812,855500001100,TAXPR,GENTRY TRAVIS & AMANDA L J,15942 CASCADE LN SE,NaN,NaN,MONROE,WA,98272-2671,GENTRY TRAVIS & AMANDA L J,GENTRY,TRAVIS,&,AMANDA,L
4,5,312815,855500001400,OWNER,YUSUF SHAHBAZ & ANGELA,17704 ROBINHOOD LN,NaN,NaN,SNOHOMISH,WA,98290,YUSUF SHAHBAZ & ANGELA,YUSUF,SHAHBAZ,&,ANGEL,nan

In [129]:
#Write to json file
new_df.to_json('contacts.json')